@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #D4D4D4;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(21,23,44);
	max-width: 100%;
}

/* ESTILOS DEL ENCABEZADO MENU Y SECCIONES --------------------------*/

.contenedor{
	width: 790px;
	max-width: 90%;
	margin: 30px auto;
	background: url(img/fondoSeccion.png);
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, .4);
}


.contenedor { display:block; }
         @media only screen and (orientation:portrait){
            .contenedor {  
                  -webkit-transform: rotate(90deg);
                  -moz-transform: rotate(90deg);
                  -o-transform: rotate(90deg);
                  -ms-transform: rotate(90deg);
                  transform: rotate(90deg);
                 }
 
         }
         @media only screen and (orientation:landscape){
            .contenedor {  
                  -webkit-transform: rotate(0deg);
                  -moz-transform: rotate(0deg);
                  -o-transform: rotate(0deg);
                  -ms-transform: rotate(0deg);
                  transform: rotate(0deg);
                 }
         }

         
ul.tabs{
	width: 100%;
	background: rgb(0,16,42);
	list-style: none;
	display: flex;
	justify-content: center;
}

ul.tabs li{
	width: 18%;
}

ul.tabs li a{
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	transition: color, background-color, 0.5s;
	color: white; 
	background-color: #00102A;

	display: block;
	padding: 20px 0px;
}

ul.tabs li a:hover{
	color: black;
	background-color: #C79316;
	transition: all 600ms;
	cursor:pointer;
}

.active{
	background: #C79316;
}

ul.tabs li a .tab-text{
	margin-left: 8px;
}

.secciones{
	width: 100%;
	height: 80vh;
}

.secciones article{
	padding: 30px;
	font-family: 'Roboto', sans-serif;;
}

.secciones article p{
	padding: 20px;
	text-align: justify;
	padding-right: 90px;
	padding-left: 90px;
}

.secciones article h1{
	padding-top: 10px;
	text-align: center;
}


/* ESTILOS DEL ENCABEZADO Y SECCIONES RESPONSIVO ---------------*/
@media screen and (max-width: 800px){

	ul.tabs li{
		width: none;
		flex-basis: 0;
		flex-grow: 1;
	}

	ul.tabs li a{
		font-size: 13px;
	}
	.contenedor{
		background-size: contain;
		width: 500px;
		height: 400px;
		background-repeat: no-repeat;
	}

	.secciones article p{
		padding: 10px;
		text-align: justify;
		padding-right: 50px;
		padding-left: 50px;
		font-size: 12px;
	}

	.secciones article h1{
		padding-top: 1px;
		text-align: center;
		font-size: 15px;
	}
}

/* ESTILOS DEL ENCABEZADO Y SECCIONES EN PANTALLA VERTICAL CELULAR ---------------*/
.contenedorVertical{
	display: none;
}


/* ESTILOS DE LOS BUTTONS MENU  --------------------------*/

ul.buttons{
	width: 60%;
	list-style: none;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

ul.buttons li{
    margin:9px;
}

ul.buttons li a{

	text-decoration: none;
	font-size: 16px;
	text-align: center;

	transition: color, background-color, 0.5s;
	color: white; 
	background-color: #00102A;

	display: block;
	padding: 20px 0px;
	border-radius: 10px;
}

ul.buttons li a:hover{
	color: black;
	background-color: #C79316;
	transition: all 200ms;
	cursor:pointer;
	box-shadow: 1px 1px 20px 0px #00102A;
}

ul.buttons li a .tab-text{
	margin-left: 8px;
}

/* ESTILOS DEL BUTTONS MENU EN PANTALLA RESPONSIVO ---------------*/

@media screen and (max-width: 800px){
	ul.buttons{
		width: 50%;
	}

	ul.buttons li{
    	margin: 4px;
	}

	ul.buttons li a{
		font-size: 12px;
		padding: 10px 0px;
	}
}


/* ESTILOS DEL BUTTONS MENU - TEORIA ---------------*/

ul.buttonsTeoria{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
}

ul.buttonsTeoria li{
	width: 22%;
	float:left;
    margin:0px 10px;
}

ul.buttonsTeoria li a{
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	transition: color, background-color, 0.5s;
	color: white; 
	background-color: #00102A;

	display: block;
	padding: 20px 8px;
	border-radius: 10px;
}

ul.buttonsTeoria li a:hover{
	color: black;
	background-color: #C79316;
	transition: all 200ms;
	cursor:pointer;
	box-shadow: 1px 1px 20px 0px #00102A;
}

ul.buttonsTeoria li a .tab-text{
	margin-left: 8px;
}



/* ESTILOS DEL BUTTONS MENU - TEORIA HORIZONTAL RESPONSIVO ---------------*/
@media screen and (max-width: 800px){
	ul.buttonsTeoria li{
		width: 25%;
		float:left;
	    margin:0px 3px;
	}

	ul.buttonsTeoria li a{
		font-size: 12px;
		padding: 8px 8px;
	}
	
	ul.buttonsTeoria li a .tab-text{
		margin-left: 10px;
	}
}

/* ESTILOS DEL BUTTONS REGRESAR ---------------*/

ul.buttonsRegresar{
	width: 20%;
	list-style: none;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

ul.buttonsRegresar li{
    margin:9px;
}

ul.buttonsRegresar li a{

	text-decoration: none;
	font-size: 16px;
	text-align: center;

	transition: color, background-color, 0.5s;
	color: white; 
	background-color: #00102A;

	display: block;
	padding: 10px 0px;
	border-radius: 10px;
}

ul.buttonsRegresar li a:hover{
	color: black;
	background-color: #00FFFF;
	transition: all 600ms;
	cursor:pointer;
	box-shadow: 1px 1px 20px 0px #00102A;
}
	
ul.buttonsRegresar li a .tab-text{
	margin-left: 10px;
}

/* ESTILOS DEL BUTTONS REGRESAR RESPONSIVO ---------------*/

@media screen and (max-width: 800px){
	ul.buttonsRegresar{
		width: 20%;
	}

	ul.buttonsRegresar li{
    	margin: 4px;
	}

	ul.buttonsRegresar li a{
		font-size: 12px;
		padding: 5px 0px;
	}
}

/* ESTILOS DEL BUTTONS MENU - TEORIA - OPERACIONES ---------------*/

ul.buttonsOER{
	width: 60%;
	list-style: none;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

ul.buttonsOER li{
    margin:9px;
}

ul.buttonsOER li a{

	text-decoration: none;
	font-size: 16px;
	text-align: center;

	transition: color, background-color, 0.5s;
	color: white; 
	background-color: #00102A;

	display: block;
	padding: 10px 0px;
	border-radius: 10px;
}

ul.buttonsOER li a:hover{
	color: black;
	background-color: #C79316;
	transition: all 200ms;
	cursor:pointer;
	box-shadow: 1px 1px 20px 0px #00102A;
}

ul.buttonsOER li a .tab-text{
	margin-left: 8px;
}


/* ESTILOS DEL BUTTONS MENU - TEORIA - OPERACIONES RESPONSIVO---------------*/

@media screen and (max-width: 800px){
	ul.buttonsOER{
		width: 50%;
	}

	ul.buttonsOER li{
    	margin: 4px;
	}

	ul.buttonsOER li a{
		font-size: 12px;
		padding: 5px 0px;
	}
}


/* ESTILOS DEL BUTTONS MENU - TEORIA - OPERACIONES ANIMACIONES---------------*/

ul.buttonsAnimaciones{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
}

ul.buttonsAnimaciones li{
	width: 22%;
	float:left;
    margin:0px 5px;
}

ul.buttonsAnimaciones li a{
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	transition: color, background-color, 0.5s;
	color: white; 
	background-color: #00102A;

	display: block;
	padding: 10px 4px;
	border-radius: 10px;
}

ul.buttonsAnimaciones li a:hover{
	color: black;
	background-color: #C79316;
	transition: all 600ms;
	cursor:pointer;
}

ul.buttonsAnimaciones li a .tab-text{
	margin-left: 8px;
}

/* ESTILOS DEL BUTTONS MENU - TEORIA - OPERACIONES ANIMACIONES RESPONSIVO---------------*/

@media screen and (max-width: 800px){
	ul.buttonsAnimaciones li{
		width: 26%;
		float:left;
	    margin:0px 3px;
	}

	ul.buttonsAnimaciones li a{
		font-size: 12px;
		padding: 6px 3px;
	}
	
	ul.buttonsAnimaciones li a .tab-text{
		margin-left: 10px;
	}
}

/* ESTILOS DE LOS H4 PC - RESPONSIVO*/

h4{
	font-size: 16px;
}

@media screen and (max-width: 800px){
	h4{
		font-size: 12px;
	}
}

/* ESTILOS DE IMAGENES GIF ANIMACIONES---------------*/

img{
	max-width: 75%;
	justify-content: center;
	display:block;
	margin:auto;
}

#autores{
	text-align: center;
}

/* ESTILOS DE BOTON GENERADORES DE ALFABETOS---------------*/

ul.buttonGALF{
	width: 60%;
	list-style: none;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

ul.buttonGALF li{
    margin:9px;
}

ul.buttonGALF li a{

	text-decoration: none;
	font-size: 16px;
	text-align: center;

	transition: color, background-color, 0.5s;
	color: white; 
	background-color: #00102A;

	display: block;
	padding: 10px 0px;
	border-radius: 10px;
}

ul.buttonGALF li a:hover{
	color: black;
	background-color: #C79316;
	transition: all 200ms;
	cursor:pointer;
	box-shadow: 1px 1px 20px 0px #00102A;
}

ul.bbuttonGALF li a .tab-text{
	margin-left: 8px;
}

/* ESTILOS DEL BUTTONS GENERADORES DE ALFABETOS RESPONSIVO---------------*/

@media screen and (max-width: 800px){
	ul.buttonGALF{
		width: 50%;
	}

	ul.buttonGALF li{
    	margin: 4px;
	}

	ul.buttonGALF li a{
		font-size: 12px;
		padding: 5px 0px;
	}
}

/* ESTILOS DEL BUTTON MOSTRAR ER---------------*/

ul.buttonMostrarER{
	width: 60%;
	list-style: none;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}

ul.buttonMostrarER li{
    margin:9px;
}

ul.buttonMostrarER li a{

	text-decoration: none;
	font-size: 16px;
	text-align: center;

	transition: color, background-color, 0.5s;
	color: white; 
	background-color: #00102A;

	display: block;
	padding: 10px 0px;
	border-radius: 10px;
}

ul.buttonMostrarER li a:hover{
	color: black;
	background-color: #C79316;
	transition: all 200ms;
	cursor:pointer;
	box-shadow: 1px 1px 20px 0px #00102A;
}

ul.buttonMostrarER li a .tab-text{
	margin-left: 8px;
}


/* ESTILOS DEL BUTTON MOSTRAR ER RESPONSIVO---------------*/

@media screen and (max-width: 800px){
	ul.buttonMostrarER{
		width: 50%;
	}

	ul.buttonMostrarER li{
    	margin: 4px;
	}

	ul.buttonMostrarER li a{
		font-size: 12px;
		padding: 5px 0px;
	}
}


/* ESTILOS DE TABLAS ---------------*/
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: auto;
}

.content-table thead tr {
  background-color: #C79316;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 2px 1px;
  text-align: center;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}


/* ESTILOS DE TABLAS RESPONSIVO---------------*/

@media screen and (max-width: 800px){

	.content-table{
		border-collapse: collapse;
		margin: 10px 0;
		font-size: 0.5em;
		min-width: 200px;
		border-radius: 1px 1px 0 0;
		overflow: hidden;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
		margin: auto;
	}
	.content-table th,
	.content-table td {
	  padding: 2px 1px;
	  text-align: center;
	}
}


/* ESTILOS BUTTONS EJEMPLOS -------------------------*/

ul.buttonsEjER{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
}

ul.buttonsEjER li{
	width: 22%;
	float:left;
    margin:0px 10px;
}

ul.buttonsEjER li a{
	text-decoration: none;
	font-size: 16px;
	text-align: center;

	transition: color, background-color, 0.5s;
	color: white; 
	background-color: #00102A;

	display: block;
	padding: 20px 8px;
	border-radius: 10px;
}

ul.buttonsEjER li a:hover{
	color: black;
	background-color: #C79316;
	transition: all 200ms;
	cursor:pointer;
	box-shadow: 1px 1px 20px 0px #00102A;
}

ul.buttonsEjER li a .tab-text{
	margin-left: 8px;
}



/* ESTILOS DEL BUTTONS MENU - TEORIA HORIZONTAL RESPONSIVO ---------------*/
@media screen and (max-width: 800px){
	ul.buttonsEjER li{
		width: 25%;
		float:left;
	    margin:0px 3px;
	}

	ul.buttonsEjER li a{
		font-size: 12px;
		padding: 8px 8px;
	}
	
	ul.buttonsEjER li a .tab-text{
		margin-left: 10px;
	}
}

h5{
	text-align: center;
	padding-bottom: 5px;
}

@media screen and (max-width: 800px){
	h5{
		font-size: 10px;
	}
}



@media screen and (max-width: 800px){
	h2{
		font-size: 16px;
	}
}

@media screen and (max-width: 800px){
	h3{
		font-size: 16px;
	}
}


.divBoton{
	justify-content: center;
	text-align: center;
	align-content: center;
}

.boton {
	background-color: #00102A;
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-family: 'Roboto';
}

.boton:hover{
    color: black;
    background-color: #C79316;
    transition: all 600ms;
    cursor:pointer;
    box-shadow: 1px 1px 5px 0px white;
}

