@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
}

/* No olvides suscribirte a AlexCG Design */
/*
Web hecha con AlexCG Design, si te sirvió la plantilla por favor entra a AlexCG Design
        esta plantilla es libre para usar, así como otras plantillas más que tenemos en el canal...
        ->>>> https://www.youtube.com/alexcgdesign <<<<-
*/
/* Header */

header {
    width: 100%;
    height: 650px;
    background-image: url(img/inicioPortada2.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #fff;
    text-align: center;
}

header .textos {
    margin-top: 152px;
    background-color: rgb(0,0,0,0.4);
}

header .titulo {
    font-size: 85px;
}

header .subtitulo {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
}

header .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-family: 'Roboto';
}

header .boton:hover{
    color: black;
    background-color: #C79316;
    transition: all 600ms;
    cursor:pointer;
    box-shadow: 1px 1px 5px 0px white;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

footer {
    background: rgb(28,29,47);
    height: auto;
}

.titulo-footer,
.subtitulo-footer {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
}

.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 64px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="text"] {
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: black;
    font-family: 'open sans';
    background: white;
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
}

input[type="email"]{
    display: inline-block;
    width: 100%;
    padding: 13px;
    border: none;
    color: black;
    font-family: 'open sans';
    background: white;
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-top: 5px solid rgba(255, 255, 255, 0.7);
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background: white;
    padding: 13px;
    border: none;
    color: black;
    font-family: 'open sans';
    margin-bottom: 16px;
}

input[type="submit"] {
    display: inline-block;
    padding: 13px;
    border: none;
    color: #fff;
    background: #C79316;
    width: 96px;
}

/* Responsive */


@media screen and (max-width:610px) {
    header .textos {
        margin-top: 130px;
    }

    header .titulo {
        font-size: 75px;
    }
}

@media screen and (max-width:380px) {
    header .textos {
        margin-top: 100px;
    }

    header .titulo {
        font-size: 65px;
    }

    header .subtitulo {
        font-size: 25px;
        margin-bottom: 32px;
    }
}