@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{

}
.hero{
    width: 100%;
    height: 100vh;
    background: url("img/inicioPortada2.png") center no-repeat;
    background-size: cover;
}

.text{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #eee;
    text-align: center;
}

.text h1{
    font-size: 6rem;
    margin: 2rem 0;
    font-family: 'Roboto', sans-serif;
}

.text h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.text p{
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.text .btn{
     display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-family: 'Roboto';
}

.text .btn:hover{
    color: black;
    background-color: #C79316;
    transition: all 600ms;
    cursor:pointer;
    box-shadow: 1px 1px 5px 0px white;
}

@media screen and (max-width: 830px){
    .text h1{
        font-size: 4rem;
    }

    .text .btn{
        font-size: 1.2rem;
    }
}

